.projects {
  width: 100vw;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  row-gap: 4rem;
  justify-items: center;
  align-items: center; }

@media (max-width: 800px) {
  .projects {
    display: flex;
    flex-direction: column; }
    .projects .card {
      min-height: 200px; } }
