/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");
/*Colors*/
* {
  margin: 0;
  padding: 0; }

.App {
  height: 100%;
  width: 100%;
  background-color: #f4ffff;
  overflow: hidden; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background: #00b9b9;
  border-radius: 5px; }
