//Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");
$font__inter: "Inter", sans-serif;

//Colors
$fondo: #f4ffff;
$celesteT: #00b9b930;
$celeste: #00b9b9;
$celestePush: #008383;
$grisOscuro: #787878;
$gris: #d9d9d9;
$grisT: #78787880;
$grisClaro: #f1eeee;
