/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");
/*Colors*/
.socialButton {
  height: 5vh;
  min-height: 2rem;
  width: 5vh;
  min-width: 2rem;
  background-color: #00b9b9;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .socialButton svg {
    height: 60%;
    width: 60%; }

.socialButton:hover {
  transform: scale(1.1); }
